@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "outfit";
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.menu-btn {
  @apply cursor-pointer transition-transform duration-1000;
}

.menu-btn.close {
  @apply transform rotate-180;
}

.btn-line {
  @apply w-7 h-0.5 mb-1 transition-transform duration-1000;
}

.menu-btn.close .btn-line:nth-child(1) {
  @apply transform rotate-45 translate-x-1.5 translate-y-1.5;
}

.menu-btn.close .btn-line:nth-child(2) {
  @apply opacity-0;
}

.menu-btn.close .btn-line:nth-child(3) {
  @apply transform -rotate-45 translate-x-1.5 -translate-y-1.5;
}

.vertical-timeline::before {
  background: rgb(0, 0, 0); /* Change this to your desired color */
}
